html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
ol, ul {
	list-style: none;
}
.page{
    margin: auto;
}
.header-contact{
    background-color: rgb(36, 41, 48);
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.icon-phone{
    display: inline-block;
    width: 11px;
    vertical-align: middle;
}
.header-container{
    background-color: rgb(126, 151, 197);
    height: 80px;
    display: flex;
    align-items: center;
}
.header{
    margin: auto;
    padding: 0 55px;
    width: 1370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 800px){
    .header{
        margin: auto;
        padding: 0 15px;
        width: 100%;
    }
}
.logo{
    width: 180px;
    height: 60px;
    background: url(../img/logo-manageo.png) no-repeat;
}
@media screen and (max-width: 800px){
    .logo{
        background: url(../img/logo-manageo-small.png) no-repeat;
        background-size: 100%;
    }
}
@media screen and (max-width: 400px){
    .logo{
        width: 140px;
        height: 50px;
    }
}

.wrapper-menu{
    margin-left: 60px; 
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

@media screen and (max-width: 800px){
    .logo-container{
        width: 240px;
        justify-content: space-between;
    }
    .wrapper-menu{
        width: 75px;
    }
}
@media screen and (max-width: 400px){
    .logo-container{
        width: 180px;
    }
    .wrapper-menu{
        margin-left: 0;
    }
}
.menu {
    display: flex;
    flex-flow: row nowrap;
    width: 405px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px){
    .menu {
        display: none;
        margin: 0;
        padding: 10px;
        background: rgb(55, 68, 78);
        flex-flow: column;
        justify-content: left;
        width: 250px;
        position: absolute;
        left: 0; top: 80px;
        z-index: 15;
    }
    .header-contact{
        display: none;
    }
}
.right-menu{
    display: flex;
    flex-flow: row nowrap;
    width: 195px;
    justify-content: space-between;
    align-items: center;
}
.rm1{
    width: 20px;
    height: 20px;
    background: url(../img/rm1.png) no-repeat;
    background-size: 100%;
}
.rm2{
    width: 20px;
    height: 20px;
    background: url(../img/rm2.png) no-repeat;
    background-size: 100%;
}
.logo:hover, .rm1:hover, .language:hover{
    cursor: pointer;
}

.rm3{
    width: 2px;
    height: 30px;
    background: #ffffff;
}

@media screen and (max-width: 1000px){
    .right-menu{
        padding-left: 15px;
        width: 75px;
        box-sizing: border-box;;
    }
    .language, .rm3{
        display: none
    }
}

.burger-button {
    display: none;
    font-size: 2em;
    text-align: center;
    line-height: 1em;
    line-height: -moz-block-height;
    color: #ffffff;
}

.close-button {
    display: none;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 3em;
    line-height: 0.5;
}
.close-field {
    position: absolute;
    background: transparent;
    z-index: 10;
}
@media screen and (max-width: 800px){
    .burger-button, .close-button {
        display: block;
        width: 30px;
        height: 30px;
    }
    .burger-button:hover, .close-button:hover {
        cursor: pointer;
    }
}
.billboard{
    position: relative;
    width: 100%;
    height: 600px;
}

@media screen and (max-width: 1000px){
    .billboard{
        height:450px;
    }
}
@media screen and (max-width: 800px){
    .billboard{
        height:350px;
    }
}
@media screen and (max-width: 500px){
    .billboard{
        height:200px;
    }
}

.video-container{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    /* background: #ffffff; */
    overflow: hidden;
}
.video{
    width: 100%;
}
@media screen and (max-width: 650px){
    .video{
        display: none;
    }
}
.billboard-content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 10;
}
.billboard-img{
    display: none;
}
@media screen and (max-width: 650px){
    .billboard-img{
        display: block;
        width: 100%;
    }
}
.billboard-txt{
    width: 700px;
}
@media screen and (max-width: 800px){
    .billboard-txt{
        width: 400px;
    }
}

.intro{
    background: #ffffff;
    width: 100%;
    height: 485px;
    display: flex;
}
@media screen and (max-width: 1000px){
    .intro{
        height:100%;
        padding: 75px 0;
    }
}
@media screen and (max-width: 650px){
    .intro{
        padding: 45px 0;
    }
}
@media screen and (max-width: 450px){
    .intro{
        padding: 30px 0;
    }
}

.intro-container{
    margin: auto;
    padding: 0 45px;
    width: 1230px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
@media screen and (max-width: 1000px){
    .intro-container{
        padding: 0 75px;
        max-width: 800px;
        flex-flow: column;
    }
}
@media screen and (max-width: 650px){
    .intro-container{
        padding: 0 45px;
    }
}
@media screen and (max-width: 450px){
    .intro-container{
        padding: 0 15px;
    }
}
.txt-container{
    max-width: 545px;
}
@media screen and (max-width: 1000px){
    .txt-container{
        max-width: 650px;
    }
}
.txt-container-column{
    display: flex;
    flex-flow: column;
    justify-content: left;
}

.rectangle {
    background-color: rgb(55, 68, 78);
    width: 60px;
    height: 5px;
}
.solution{
    width: 100%;
    background-color: rgb(55, 68, 78);
    height: 485px;
    margin: auto;
    display: flex;
}
@media screen and (max-width: 1270px){
    .solution{
        height: 100%;
        padding: 100px 0;
    }
}
.solution-items-container{
    margin: auto;
    padding: 0 55px;
    width: 1270px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
@media screen and (max-width: 1270px){
    .solution-items-container{
        max-width: 685px;
        height: 630px;
        align-content: space-between;
    }
}
.solution-item{
    width: 265px;
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}
.icon {
    width: 73px;
    height: 73px;
}
.solution-item-txt-container{
    height: 110px;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    align-content: space-around;
    justify-content: center;
}


@media screen and (max-width: 800px){
    .solution{
        padding: 0;
    }
    .solution-items-container{
        flex-flow: column;
        max-width: 100%;
        height: 100%;
        padding: 0;
    }
    .solution-item{
        width: 100%;
        padding: 75px 0;
        border-bottom: solid 1px rgb(36, 41, 48);
    }
    .solution-item-txt-container{
        height: 100%;
        flex-direction: column;
        max-width: 385px;
    }
}
@media screen and (max-width: 450px){
    .solution-item{
        box-sizing: border-box;
        padding: 35px 15px;
    }
}

.margintop25px{
    margin-top: 25px;
}
.chiffres{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background: url(../img/chiffers-bg.png) no-repeat;
    margin: auto
}

@media screen and (max-width: 800px){
    .chiffres{
        padding: 75px 0;
        background-size: 100% 630px;
    }
}
@media screen and (max-width: 550px){
    .chiffres{
        background-size: 100% 780px;
    }
}
@media screen and (max-width: 450px){
    .chiffres{
        padding: 35px 0;
    }
}
.chiffres-container{
    margin: 90px auto 0;
    max-width: 1120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 300px;
}
@media screen and (max-width: 1000px){
    .chiffres-container{
        margin: 50px auto 0;
    }
}
@media screen and (max-width: 550px){
    .chiffres-container{
        margin: 20px auto 0;
        height: 485px;
    }
}
@media screen and (max-width: 400px){
    .chiffres-container{
        height: 485px;
    }
}
.chiffres-title{
    max-width: 630px;
    padding: 0 15px;
    margin: auto;
    text-align: center;
}
.number-container{
    width: 320px;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: baseline;
}
@media screen and (max-width: 800px){
    .number-container{
        width: 250px;
    }
}
.contact{
    width: 100%;
    background-color: rgb(55, 68, 78);
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-button{
    margin-top: 30px;
    background-image: -moz-linear-gradient( 90deg, rgb(74,99,161) 0%, rgb(145,168,208) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(74,99,161) 0%, rgb(145,168,208) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(74,99,161) 0%, rgb(145,168,208) 100%);
    box-shadow: 0px 12px 22px 0px rgba(0, 0, 0, 0.3);
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.api{
    display: flex;
    flex-flow: wrap;
    justify-content: center; 
    padding: 100px 0 50px;
    background-color: rgb(241, 243, 252);
    align-content: space-between;
    height: 530px;
}
@media screen and (max-width: 800px){
    .api{
        width: 100%;
        padding: 50px 0 50px;
        height: 100%;
    }
}
.row-api{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1280px;
}

@media screen and (max-width: 1270px){
    .row-api{
        flex-flow: column;
        align-items: center;
    }
    .second-row-api{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .row-api{
        width: 100%;
    }
}
.api-title-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 625px;
    height: 250px;
    padding: 25px 25px 40px 0;
}

@media screen and (max-width: 650px){
    .api-title-container{
        width: 95%;
        height: 100%;
        margin-left: 15px;
    }
}
.api-item{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 625px;
    height: 250px;
    padding: 45px 30px 45px 45px;
    background: #ffffff;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 650px){
    .api-item{
        width: 95%;
        height: 100%;
        padding: 25px 20px 25px 30px;
    }
}

.footer1{
    background-color: rgb(36, 41, 48);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 150px 0;
}
@media screen and (max-width: 1000px){
    .footer1{
        padding: 75px 0;
    }
}

.footer1-container{
    max-width: 510px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 550px){
    .footer1-container{
        max-width: 95%;
    }
}
.logo-footer{
    width: 285px;
    height: 95px;
    background: url("../img/logo-manageo.png") no-repeat;
    background-size: 100%;
}
@media screen and (max-width: 1000px){
    .logo-footer{
        width: 235px;
        height: 80px;
    }
}

.menu-footer{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 60px;
    align-items: center;
    width: 510px;
    justify-content: space-between;
}
@media screen and (max-width: 550px){
    .menu-footer{
        max-width: 95%;
    }
}
.social-media-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 200px;
    margin-top: 30px;
}
.social-media-icon{
    display: flex;
    align-content: center;
}

.social-media-icon svg{
    width: 25px;
    height: 25px;
}
.smi{
    fill: #ffffff;
}
.smi:hover{
    fill: rgb(113, 204, 81);
}
.social-media-icon svg{
    cursor: pointer;
}

.api-txt{
    margin-top: 25px;
}
.api-arrow{
    margin-top: 25px;
}
.footer2{
    background-color:rgb(55, 68, 78);
    min-height: 100px;
}
.footer2-container{
    max-width: 1366px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 35px 15px 20px;
}
@media screen and (max-width: 400px){
    .footer2-container{
        padding-top: 20px;
    }
}
.footer-logo-container{
    display: flex;
    flex-flow: row wrap;
    width: 270px;
    justify-content: space-between;
    align-content: baseline;
}
@media screen and (max-width: 1000px){
    .footer-logo-container{
        width: 250px;
    }
}
@media screen and (max-width: 800px){
    .footer-logo-container{
        width: 200px;
    }
}
.logo-1{
    background: url(../img/logo-altares.png) no-repeat;
    background-size: 100%; 
    width: 70px;
    height: 45px;
}

@media screen and (max-width: 400px){
    .logo-1{
        width: 50px;
        height: 31px;
    }
}
.logo-2{
    background: url(../img/Logo_wwn.png) no-repeat;
    background-size: 100%; 
    width: 150px;
    height: 25px;
    align-self: center;
}
@media screen and (max-width: 800px){
    .logo-2{
        margin-top:15px; 
    }
}
@media screen and (max-width: 400px){
    .logo-2{
        width: 90px;
        height: 13px;
    }
}
.txt-footer-container{
    
    max-width: 530px;
    padding-left: 15px;
}
.menu-item:hover {
    cursor: pointer;
    color: rgb(113, 204, 81);
}